 #var1{
			height: 80px;
			width: 100px;
			background-color: #ffff29;
			border: 2px solid red;
			box-shadow: 2px 1px 4px 2px gray;			
			display: inline-block;
			margin-left: 323px;
			
		}
		#var2{
			height: 80px;
			width: 100px;
			background-color: #ffff29;
			border: 2px solid red;
			box-shadow: 2px 1px 4px 2px gray;			
			display: inline-block;
			margin-left: -60px;
			
		}
		#var3{
			height: 80px;
			width: 100px;
			background-color: #ffff42;
			border: 2px solid red;
			box-shadow: 2px 1px 4px 2px gray;			
			display: inline-block;
			margin-left: -430px;
			
		}
		/* #symbol{
			height: 80px;
			width: 50px;
			background-color: #ffffff;
		} */
		.btn-danger{			
			margin-top: 20px;
			padding: 3px 109px 6px 84px;
		}
		.btn-success{
				margin-top: 22px;
			}
			
	.container
			{
			 width:80%;
			 margin:10px auto;
			 background-color: cyan;
			 position: relative;
			 text-align: center;
			 border-radius: 6px;
			 padding-bottom: 22px;
			 box-shadow: 4px 2px 4px 2px gray;
			 margin-top: 11%;
			}
			#doundo{
					height: 40px;
					width: 200px;
					background-color: #ffffff;
					margin-top: -35px;
					margin-left: 44%;
					border-radius: 4px;
				   }
				   .und{
							margin-left: -200px;
							margin-top: 40px;
							background-color: #000000;
						}
						#displaytext{
										height: 34px;
										width: 180px;
										background-color: white;
										margin-left: 45%;
										margin-top: -35px;
										border-radius: 4px;
									}
